docuhelper.json
{
  "name": "docuhelper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        20
      ],
      "id": "83c44783-f57d-48c2-80d6-78ac88148851",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.8:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "bge-m3"
            },
            {
              "name": "prompt",
              "value": "={{ $json.ask }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -180
      ],
      "id": "223721de-7aa0-42c7-ba3e-2066ce6121c3",
      "name": "유저 질의 임베딩1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "430bf86c-e6ec-49c9-97e8-46d8ab349d1e",
              "name": "ask",
              "value": "지원자의 생활신조를 알려줘",
              "type": "string"
            },
            {
              "id": "660e4a26-4a02-4b04-9515-1c9b68d979d4",
              "name": "document",
              "value": "0d9185d0-21be-4ced-ac26-7be6efbfb9a5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        20
      ],
      "id": "40eb9285-38f2-4477-82d8-372968b01938",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        340,
        -160
      ],
      "id": "c471220e-3b5d-4837-9a5d-3b760df13797",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1820,
        0
      ],
      "id": "99de3daa-e66a-4a52-8838-1c0ee394b522",
      "name": "Merge1"
    },
    {
      "parameters": {
        "endpoint": "http://192.168.0.77:8080/graphql",
        "query": "=query FindChunkByEmbedValue {\n    findChunkByEmbedValue(\n        document: \"{{ $json.document }}\"\n        embed: [{{ $json.embedding }}]\n    ) {\n        chunk {\n          uuid\n          content\n          page\n          num\n        }\n      similarity\n    }\n}\n"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        620,
        -160
      ],
      "id": "8da09e05-478a-4764-b55b-daf663911851",
      "name": "Chunk 도메인 조회"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 내가 보내준 자료를 기반으로 내가 원하는 정보를 찾아주는 비서야\n질문: \n{{ $json.ask }}\n\n자료: \n{{ $json.resultRef.map(item => item.chunk.content) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2480,
        340
      ],
      "id": "b38f0651-ccd0-4046-a6f8-fa1e7fc39e78",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fovZ58yd8nr6Xvzh",
          "name": "docuhelper"
        }
      }
    },
    {
      "parameters": {
        "topic": "docuhelper-api",
        "groupId": "n8n-kafka",
        "options": {
          "jsonParseMessage": true,
          "returnHeaders": true
        }
      },
      "type": "n8n-nodes-base.kafkaTrigger",
      "typeVersion": 1.1,
      "position": [
        -1160,
        220
      ],
      "id": "4a0527b3-5518-4467-9d2f-c30255ad303d",
      "name": "Kafka Trigger",
      "credentials": {
        "kafka": {
          "id": "vL3QF8PEJ0sslYE2",
          "name": "portfolio-kafka"
        }
      }
    },
    {
      "parameters": {
        "amount": 0
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -360,
        20
      ],
      "id": "ea3247e6-6a93-4084-9b40-5a0d73234c12",
      "name": "Wait",
      "webhookId": "a2c76a2b-265c-471f-af79-35caf7da3703"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "430bf86c-e6ec-49c9-97e8-46d8ab349d1e",
              "name": "ask",
              "value": "={{ $json.message.chat.userAsk }}",
              "type": "string"
            },
            {
              "id": "660e4a26-4a02-4b04-9515-1c9b68d979d4",
              "name": "document",
              "value": "={{ $json.message.chat.document }}",
              "type": "string"
            },
            {
              "id": "102ca65b-ab9d-46f6-9991-e180fad7e43e",
              "name": "chat",
              "value": "={{ $json.message.chat.uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        220
      ],
      "id": "b177f5ca-ff64-46ea-90bb-b4d53b605324",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "topic": "docuhelper-n8n",
        "sendInputData": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.kafkaTool",
      "typeVersion": 1,
      "position": [
        -480,
        320
      ],
      "id": "f69bdd5d-1b5d-4a70-b4e8-e386a1efdbd2",
      "name": "Kafka",
      "credentials": {
        "kafka": {
          "id": "vL3QF8PEJ0sslYE2",
          "name": "portfolio-kafka"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3640,
        240
      ],
      "id": "66464a70-73a1-4029-9480-e4f9bc504a0b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "topic": "docuhelper-n8n",
        "useKey": true,
        "key": "={\n\t\"eventType\": \"ChatAnswer\",\n\t\"eventPublishDt\": [\n      {{$now.format('yyyy')}},\n      {{$now.format('M')}},\n      {{$now.format('d')}},\n      {{$now.format('H')}},\n      {{$now.format('M')}},\n      {{$now.format('s')}},\n      1\n    ]\n}",
        "headersUi": {
          "headerValues": [
            {
              "key": "eventType",
              "value": "ChatAnswer"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.kafka",
      "typeVersion": 1,
      "position": [
        4360,
        240
      ],
      "id": "48a55fb1-1006-4a95-b9c3-77d233226aed",
      "name": "Kafka1",
      "credentials": {
        "kafka": {
          "id": "vL3QF8PEJ0sslYE2",
          "name": "portfolio-kafka"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        -160
      ],
      "id": "8ecd8ec6-d94c-498a-8ec5-03e816c687cf",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00f6ebcd-384d-4083-a2c2-25ee60965627",
              "name": "ask",
              "value": "={{ $json.ask }}",
              "type": "string"
            },
            {
              "id": "f20f4214-069b-4ca8-b39f-de46635b405f",
              "name": "answer",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "930c63ac-2aec-4adb-8e6f-e5f449eb7256",
              "name": "document",
              "value": "={{ $json.document }}",
              "type": "string"
            },
            {
              "id": "26e1c1fe-99c3-43dd-ae53-c4b8722cd061",
              "name": "chat",
              "value": "={{ $json.chat }}",
              "type": "string"
            },
            {
              "id": "49fa00a4-8017-4c3e-8119-f13e074e9c68",
              "name": "answerRef",
              "value": "={{ $json.resultRef }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4020,
        240
      ],
      "id": "8df09559-4d1a-4799-83a1-73edf7384c7f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e5b1aca-2bf0-4bad-a4af-d26f8e457d16",
              "leftValue": "={{ $json.headers.eventType }}",
              "rightValue": "ChatSend",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -940,
        220
      ],
      "id": "acb0a364-dec3-46be-ab79-e72810908a61",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nreturn $input.item.json.data.findChunkByEmbedValue;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        -160
      ],
      "id": "c20035d1-3720-4469-92a5-06910243a131",
      "name": "Code"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "resultRef",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        -160
      ],
      "id": "edf75244-cc59-4963-80f8-d7192e0b02c0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "=message.content",
              "renameField": true,
              "outputFieldName": "result"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2840,
        340
      ],
      "id": "452e87d5-6253-4180-9966-69f29a7d93d6",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1da470f-9924-49bf-865d-5b844ca3395b",
              "name": "result",
              "value": "={{ $json.result[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3060,
        340
      ],
      "id": "8f347cba-6fca-4f93-9a05-49ed56ba93cd",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "567b0146-b2f0-45cf-961b-5f1d1019e1eb",
              "name": "resultRef",
              "value": "={{ $json.resultRef.map(item => {\n\nreturn {\n  chat: $json.chat,\n  chunk: item.chunk.uuid,\n  similarity: item.similarity\n}\n}) }}",
              "type": "array"
            },
            {
              "id": "ae2e85a0-b963-4615-a172-6a33492fad00",
              "name": "ask",
              "value": "={{ $json.ask }}",
              "type": "string"
            },
            {
              "id": "6a45da9a-6e2e-41e8-8863-cbfa21936449",
              "name": "document",
              "value": "={{ $json.document }}",
              "type": "string"
            },
            {
              "id": "1bcf8c44-1c35-4781-90ee-8c8190b9b54b",
              "name": "chat",
              "value": "={{ $json.chat }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2460,
        0
      ],
      "id": "c5e227f9-8147-454e-abfe-7bc3b062c4b5",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "유저 질의 임베딩1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Chunk 도메인 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk 도메인 조회": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kafka Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "유저 질의 임베딩1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kafka1": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Kafka1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8568fdc0-7ec1-4081-8dd6-54520767f4a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "780a141848e9b294ba94e1aaf30fae5d9fb4b11c8a6900e6cb90f3e396ddcb6f"
  },
  "id": "3dXgiti2UB0uJrq1",
  "tags": []
}